<div class="register" appFixHeight>
  <div nz-row>
    <div nz-col [nzSpan]="16" [nzPush]="4">
      <nz-divider [nzText]="text1" nzOrientation="left" nzDashed>
        <ng-template #text1>
          <span style="font-weight: bolder">修改支付密码</span>
        </ng-template>
      </nz-divider>
      <div class="step_box border_box">
        <form nz-form [formGroup]="validateFormStep2">
          <div nz-row>
            <div nz-col [nzSpan]="16" [nzPush]="3">
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="oldPassword" nzRequired>
                  旧密码
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input type="password" formControlName="oldPassword" maxlength="32"
                         oninput="value=value.replace(/(^\s*)|(\s*$)/g,'')">
                  <nz-form-explain
                    style="color: rgba(230,0,18,1);text-align: left;"
                    *ngIf="validateFormStep2.get('oldPassword').dirty && validateFormStep2.get('oldPassword').errors">
                    请输入旧密码！
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="loginPassword" nzRequired>
                  密码
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input type="password" formControlName="newPassword" maxlength="32"
                         oninput="value=value.replace(/(^\s*)|(\s*$)/g,'')"
                         (ngModelChange)="updateConfirmValidator()">
                  <nz-form-explain
                    *ngIf="validateFormStep2.get('newPassword').dirty && validateFormStep2.get('newPassword').errors">
                    请输入密码！
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="newPasswordEnt" nzRequired>
                  确认密码
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input type="password" formControlName="newPasswordEnt"
                         oninput="value=value.replace(/(^\s*)|(\s*$)/g,'')"
                         maxlength="32">
                  <nz-form-explain
                    *ngIf="validateFormStep2.get('newPasswordEnt').dirty && validateFormStep2.get('newPasswordEnt').errors">
                    <ng-container *ngIf="validateFormStep2.get('newPasswordEnt').hasError('required')">
                      请输入确认密码!
                    </ng-container>
                    <ng-container *ngIf="validateFormStep2.get('newPasswordEnt').hasError('confirm')">
                      两次密码输入不一致!
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
        <div style="margin-top: 30px;text-align: center;">
          <button nz-button nzType="primary" (click)="submit()">提交</button>
          <button nz-button nzType="primary" (click)="goBack()">返回</button>
        </div>
      </div>

    </div>
  </div>


  <nz-modal [(nzVisible)]="isVisible" nzTitle="提示"
            nzOkText="确定"
            nzCancelText="取消"
            nzCancelDisabled="true"
            nzClosable="false"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()">
    <div class="login_modal_err_msg" style="text-align: center">
      <div><i nz-icon type="check-circle" theme="outline" style="color: rgba(230,0,18,1); font-size: 24px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;提交成功
      </div>
    </div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isErrVisible" nzTitle="提示"
            nzOkText="确定"
            nzCancelText="取消"
            nzCancelDisabled="true"
            nzClosable="false"
            (nzOnCancel)="handleErrCancel()"
            (nzOnOk)="handleErrOk()">
    <div class="login_modal_err_msg" style="text-align: center">
      <div>
        <i nz-icon type="close-circle" theme="outline" style="color: rgba(230,0,18,1); font-size: 18px"></i>
        &nbsp;&nbsp;{{errMsg}}
      </div>
    </div>
    <!--<ng-template #modalFooter>-->
      <!--<br>-->
    <!--</ng-template>-->
  </nz-modal>

</div>
